{% extends 'students/base.html' %}
{% load static %}
{% block content %}

<style>
  .carousel-item {
    height: 500px;
  }

  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(40%);
  }
</style>
 
   <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/library.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption top-0">
                  <h1 class="display-4 pt-5 fw-bold text-warning">Department of Software Engineering</h1>
                  <a href="{% url 'user-registration' %}" target="_blank" class="btn  fs-3 mt-5 btn-warning rounded shadow py-2 px-5">Sigup</a>
                </div>
              </div>
            </div>
   </div>
{% endblock %}